
<%- include("partials/header"); -%>

<h1>Compose</h1>

<p>
    <form action="/compose" method="post">
        
        <h2>Title</h2>
        <input class="form-control" type="text" name="title">

        <h2>Post</h2>

        <textarea class="form-control" rows="5" cols="30" name="comment"></textarea>

        <button class="btn btn-primary" type="submit" style="margin-top: 20px;">
            Publish
        </button>
    
    </form>
</p>


<%- include("partials/footer") -%>












