
<%- include("partials/header"); -%>



    
       

            <h1> <%= oneTitle %> </h1>
            
                <p> <%= oneComment %>  </p>


        



<%- include("partials/footer") -%>












